.moviesCardList {
  max-width: 1140px;
  width: calc(100% - 140px);
  padding: 70px 0 10px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .moviesCardList {
    max-width: 708px;
    width: calc(100% - 60px);
    padding: 70px 0 30px;
  }
}

@media screen and (max-width: 348px) {
  .moviesCardList {
    max-width: 300px;
    width: calc(100% - 20px);
    padding: 40px 0 26px;
  }
}

.moviesCardList__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 37px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .moviesCardList__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media screen and (max-width: 348px) {
  .moviesCardList__list {
    grid-template-columns: 1fr;
    row-gap: 14px;
  }
}
