.moviesCardList {
  max-width: 1140px;
  width: calc(100% - 140px);
  padding: 70px 70px 10px;
  margin: 0 auto;
}

.moviesCardList__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 37px;
  list-style: none;
}
