.movies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__btn-container {
  padding: 50px 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies__more-btn {
  width: 320px;
  padding: 11px 60px 9px;
  background-color: #2F2F2F;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: opacity .5s linear;
}

.movies__more-btn:hover {
  opacity: 0.6;
}