.profile {
  height: calc(100% - 74px);
  padding: 74px 0 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 236px 0 269px;
  }
}

@media screen and (max-width: 400px) {
  .profile {
    padding: 70px 0 40px;
  }
}

.profile__header {
  margin: 0 0 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .profile__header {
    margin: 0 0 96px;
  }
}

@media screen and (max-width: 400px) {
  .profile__header {
    margin: 0 0 80px;
  }
}

.profile__container {
  width: 410px;
  padding: 0 0 16px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 1px solid #424242;
}

.profile__container:last-of-type {
  padding: 7px 0 16px;
}

@media screen and (max-width: 400px) {
  .profile__container {
    width: 260px;
  }
}

.profile__input-name {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  padding: 0;
  width: 85%;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: white;
}

.profile__error {
  display: block;
  min-height: 12px;
  width: 410px;
  padding-top: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

@media screen and (max-width: 400px) {
  .profile__error {
    width: 260px;
  }
}

.profile__edit-message {
  display: block;
  margin-top: 171px;
  min-height: 16px;
  width: 410px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .profile__edit-message {
    width: 260px;
  }
}

.profile__edit-message_success {
  color: #3DDC84;
}

.profile__edit-message_fail {
  color: #EE3465;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .profile__buttons {
    margin-top: 210px;
  }
}

@media screen and (max-width: 400px) {
  .profile__buttons {
    margin-top: 379px;
  }
}

.profile__btn {
  padding: 0;
  border: none;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .5s linear;
}

@media screen and (max-width: 400px) {
  .profile__btn {
    font-size: 12px;
    line-height: 15px;
  }
}

.profile__btn:hover {
  opacity: 0.6;
}

.profile__btn_edit {
  font-weight: 400;
  color: white;
}

.profile__btn_edit:disabled {
  cursor: default;
}

.profile__btn_edit:disabled:hover {
  opacity: 1;
}

.profile__btn_logout {
  font-weight: 500;
  color: #EE3465;
}