.header {
  padding: 18px 70px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

.header_landing {
  background-color: #073042;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  transition: opacity .5s linear;
}
  
.header__logo:hover {
  opacity: 0.6;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: white;
  transition: opacity .5s linear;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link-btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3DDC84;
  border-radius: 3px;
  width: 76px;
  height: 32px;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: opacity .5s linear;
}

.header__link-btn:hover {
  opacity: 0.6;
}
