.navtab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 25px 0;
  margin: auto;
}

.navtab__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: white;
  transition: opacity .5s linear;
}

.navtab__link:hover {
  opacity: 0.6;
}
